.logo
  .left
    button.feedback
      img(src="imgs/feedback.png")
    button.whatisnew
      img(src="imgs/what_is_new.png")
  .right
    button.pregens
      img(src="imgs/pregens.png")
    button.settings
      img(src="imgs/settings.png")