mixin modal-what-is-new()
  +modal({title: "what is new", cssClasses: ["compendium-modal", "whatisnew-modal"]})
    .features
      .feature
        .preview
          .focus
          img(src="imgs/Changelog/collapsible.png")
        .description
          h3.title collapsible panes
          p.info Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mauris nunc congue nisi vitae suscipit. Tempor nec feugiat nisl pretium fusce id velit ut. Tellus integer feugiat scelerisque varius. Nulla facilisi etiam dignissim diam quis enim lobortis. Sit amet mattis vulputate enim nulla aliquet. Nulla facilisi morbi tempus iaculis urna id. Ipsum suspendisse ultrices gravida dictum. At in tellus integer feugiat. Habitant morbi tristique senectus et netus. Rhoncus urna neque viverra justo nec. Morbi tempus iaculis urna id volutpat lacus. Lorem mollis aliquam ut porttitor leo a.
          .steps
            .steps__container
              .step.active
              .step
              .step
              .step