.sheet--npc {
  container-type: inline-size;
  min-width: auto;
}

@media only screen and (max-width: 1456px) {
  .sheet--npc {
    grid-template-areas:
        "sheet-header"
        "sheet-content";
    grid-template-columns: 1fr;
    width: 100%;
  }
}

@container (max-width: 1056px) {
  .sheet-header {
    grid-template-areas:
        "logo"
        "tab-navigation";
    grid-template-columns: 1fr;
  }
  .sheet-content--main {
    //display: none;
  }
  .sheet-header, .sheet-content {
    min-width: auto;
  }
  .sheet-content {
    display: block;
    > .layout {
      display: flex;
      > .layout--flex--rows {
        flex-direction: row!important;
        flex-wrap: wrap;
      }
    }
    .npc-sidebar {
      > .layout--group {
        flex-grow: 1;
        max-width: calc(50% - 10px);
        min-width: 344px;
      }
    }
  }
  .layout {
    //width: auto;
  }
  .npc-avatar {
    .npc-title {
      align-self: end;
    }
    .auto-complete {
      .chip, input {
        height: 22px;
      }
    }
    > .layout {
      display: grid;
      grid-template-areas:
        "avatar name" 
        "avatar tags";
      grid-template-columns: 106px 1fr!important;
      > .layout {
        width: 100%;
      }
      .auto-complete {
        width: 100%;
      }
    }
    .card--paddingless {
      align-items: center;
      display: flex;
      grid-area: avatar;
      height: 106px;
      width: 106px;
    }
  }
}

@container (max-width: 708px) {
  .sheet-content {
    .npc-sidebar {
      > .layout--group {
        max-width: none;
      }
    }
  }
}