+grid-area({area:"selected-tab-sidebar"})
  +layout({style:"grid", cssClasses:["layout--cols--1fr", "layout--gap--full"]})
    +spell-source({title:"cleric", category: "divine", meta: true, cssClasses:["spell-source--selected"]})
    +spell-source({title:"harmful font", category: "divine", meta: true})
    +spell-source({title:"focus spells", category: "focus", meta: true})
    +spell-source({title:"rituals", category: "rituals", meta: true})
    +add-button({title: "add spellcasting entry", meta: true})
      
+grid-area({area:"selected-tab-content"})
  +layout({style:"flex", cssClasses:["layout--flex--rows", "layout--gap--full"]})
    +layout({style:"group"})
      +accordion-group()
        +accordion({title:"cantrips", disabledcounter: 2, resource: 2, config: true, cssClasses:["accordion--open", "accordion-cantrips"]})
          +table("weapons", {headers:["name", "target", "range", "defense", "prepared"], cta: "some random text.", cssClasses:["table--spells"]})
            +table__row("weapons")
              +inventory-spell({title:"guidance", school: "ancestors"})
            +table__row("weapons")
              +inventory-spell({title:"message", school: "illusion"})
        +accordion({title:"rank 1", disabledcounter: 2, resource: 2, config: true, cssClasses:["accordion-rank-1"]})
          +table("armors", {headers:["name", "target", "range", "defense", "prepared"], cta: "some random text.", cssClasses:["table--spells"]})
            +table__row("armors")
              +inventory-spell({title:"magic stone", school: "necromancy", prepared: true, defense: "AC"})
            +table__row("armors")
              +inventory-spell({title:"harm", school: "necromancy", prepared: true, defense: "Fortitude"})

