.chained-options {
  &__item {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 29px;
  }
  &__container {
    align-items: start;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  &__trash {
    align-items: center;
    background-color: var(--muchdarker);
    border: 1px solid var(--disabled-text-color);
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    display: grid;
    height: 29px;
    justify-items: center;
    width: 29px;
    svg {
      fill: var(--secondary-text-color);
      height: 10px;
      width: 10px;
    }
    &:hover {
      background-color: var(--active-step-color-negative);
      border-color: var(--muchdarker);
      svg {
        fill: var(--primary-text-color);
      }
    }
  }
}