mixin icon(options = {}, defaultOptions = {type: "", cssClasses:[]})
  -
    const parsedArguments = parseArguments(options, defaultOptions);
    const settings = parsedArguments.settings;
    const optionalClasses = parsedArguments.parsedClasses.split(" ").filter(entry => entry!=="");
    const defaultClasses = [];
    const parsedClasses = [...defaultClasses, ...optionalClasses].join(" ");

    const icons = {
      cancel: {
        viewBox: "0 0 135.97311 135.97311",
        path: "m 19.903288,19.903288 c 26.537717,-26.5377174 69.628805,-26.5377174 96.166522,0 26.53772,26.537717 26.53772,69.628805 0,96.166522 -26.537717,26.53772 -69.628805,26.53772 -96.166522,0 -26.5377174,-26.537717 -26.5377174,-69.628805 0,-96.166522 z M 52.029977,67.986549 34.797078,85.219448 c -4.403154,4.403154 -4.402447,11.552711 7.07e-4,15.955862 4.403154,4.40316 11.552711,4.40386 15.955865,7.1e-4 L 67.986549,83.943121 85.219448,101.17602 c 4.403154,4.40315 11.552711,4.40245 15.955862,-7.1e-4 4.40316,-4.403151 4.40386,-11.552708 7.1e-4,-15.955862 L 83.943121,67.986549 101.17602,50.75365 c 4.40315,-4.403154 4.40245,-11.552711 -7.1e-4,-15.955865 -4.403151,-4.403154 -11.552708,-4.403861 -15.955862,-7.07e-4 L 67.986549,52.029977 50.75365,34.797078 c -4.403154,-4.403154 -11.552711,-4.402447 -15.955865,7.07e-4 -4.403154,4.403154 -4.403861,11.552711 -7.07e-4,15.955865 z"
      },
      check: {
        viewBox: "0 0 29 25",
        path: "M8.015,23.825L1.287,18.179C-0.238,16.9 -0.435,14.623 0.843,13.101C2.123,11.575 4.398,11.374 5.924,12.654L9.888,15.981L22.218,1.287C23.498,-0.239 25.774,-0.435 27.3,0.844C28.822,2.122 29.024,4.398 27.744,5.923L13.095,23.381C11.815,24.907 9.539,25.103 8.016,23.826C8.016,23.825 8.015,23.825 8.015,23.825Z"
      },
      chevron: {
        viewBox: "0 0 8 24",
        path: "M-0.005,7.41L4.575,12L-0.005,16.59L1.405,18L7.405,12L1.405,6L-0.005,7.41Z"
      },
      cog: {
        viewBox: "0 0 301 301",
        path: "M150.45,204.998C120.325,204.998 95.907,180.576 95.907,150.451C95.907,120.327 120.325,95.906 150.45,95.906C180.575,95.906 204.996,120.327 204.996,150.451C204.996,177.852 184.792,200.534 158.469,204.412C155.852,204.798 153.174,204.998 150.45,204.998ZM296.168,182.416C306.82,151.704 296.168,122.875 296.168,122.875L261.069,113.787C261.177,114.176 258.362,106.375 256.494,102.271L276.088,70.016C261.907,40.767 233.987,27.915 233.987,27.915L202.745,46.307C203.118,46.519 195.657,43.012 191.367,41.401L182.415,4.735C151.705,-5.919 122.874,4.735 122.874,4.735L113.787,39.833C114.177,39.725 106.375,42.541 102.272,44.408L70.016,24.813C40.767,38.994 27.916,66.914 27.916,66.914L46.306,98.157C46.518,97.783 43.011,105.246 41.402,109.535L4.736,118.488C-5.919,149.198 4.736,178.028 4.736,178.028C4.736,178.028 39.622,186.34 39.521,185.953C40.907,190.295 42.541,194.527 44.409,198.632L24.812,230.885C38.993,260.137 66.913,272.989 66.913,272.989C66.913,272.989 97.414,254.167 97.044,253.953C101.075,256.04 105.246,257.891 109.536,259.503L118.488,296.169C149.198,306.821 178.027,296.169 178.027,296.169L187.114,261.071C186.726,261.178 194.525,258.363 198.631,256.493L230.887,276.089C260.136,261.908 272.988,233.988 272.988,233.988L254.594,202.746C254.383,203.119 257.889,195.655 259.501,191.369L296.168,182.416Z"
      },
      delete: {
        viewBox: "0 0 497 497",
        path: "M480.507,16.27C458.602,-5.635 423.087,-5.391 400.878,16.818L248.389,169.308L95.899,16.818C73.69,-5.391 38.176,-5.634 16.271,16.271C-5.635,38.177 -5.391,73.691 16.818,95.899L169.307,248.389L16.818,400.878C-5.391,423.087 -5.635,458.601 16.271,480.507C38.176,502.412 73.69,502.168 95.899,479.96L248.389,327.47L400.878,479.96C423.087,502.168 458.601,502.412 480.506,480.507C502.412,458.601 502.168,423.087 479.959,400.878L327.47,248.389L479.959,95.899C502.168,73.691 502.413,38.175 480.507,16.27Z"
      },
      search: {
        viewBox: "0 0 236.01245 235.94995",
        path: "m 239.5,239.5 c -8.6,8.6 -22.7,8.6 -31.4,0 L 169,200.4 c -16.1,10.3 -35.1,16.5 -55.6,16.5 C 56.3,216.9 10,170.6 10,113.4 10,56.3 56.3,10 113.4,10 c 57.1,0 103.4,46.3 103.4,103.4 0,20.5 -6.2,39.5 -16.5,55.6 l 39.1,39.1 c 8.8,8.7 8.8,22.8 0.1,31.4 z M 113.4,39.6 c -40.8,0 -73.9,33.1 -73.9,73.9 0,40.8 33.1,73.9 73.9,73.9 40.8,0 73.9,-33.1 73.9,-73.9 0,-40.9 -33.1,-73.9 -73.9,-73.9 z"
      },
      add: {
        viewBox: "0 0 392 392",
        path: "M148.542,148.542L148.542,47C148.542,21.042 169.625,0 195.583,0C221.5,0 242.584,21.042 242.584,47L242.584,148.542L344.125,148.542C370.084,148.542 391.125,169.625 391.125,195.583C391.125,221.5 370.084,242.584 344.125,242.584L242.584,242.584L242.584,344.125C242.584,370.084 221.5,391.125 195.583,391.125C169.625,391.125 148.542,370.084 148.542,344.125L148.542,242.584L47,242.584C21.042,242.584 0,221.5 0,195.583C0,169.625 21.042,148.542 47,148.542L148.542,148.542Z"
      },
      subtract: {
        viewBox: "0 0 392 392",
        path: "M47,148.542L344.125,148.542C370.084,148.542 391.125,169.625 391.125,195.583C391.125,221.5 370.084,242.584 344.125,242.584L47,242.584C21.042,242.584 0,221.5 0,195.583C0,169.625 21.042,148.542 47,148.542Z"
      }
    }

  svg.icon(focusable="false" viewBox=icons[settings.type].viewBox class=parsedClasses)
    path(d=viewBox=icons[settings.type].path)
